*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    font-family: sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000;
}

.clear{
    overflow: hidden;
}
.headersection{
    
    background: #1DD2AF;
    color: #fff;
    
}
.logo{
    float: left;
    display: block;
    margin-left: 5px;
}
.title{
    float: left;
    overflow: hidden;
    padding: 20px;
}
.time{
  float: right;
    padding: 20px;
}

.navsection{
    background: #8D44AD;
    
}
.navsection ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navsection ul li{
    display: block;
    float: left;
}
.navsection ul li a{
    display: block;
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    padding: 5px 15px;
    background: black;
    color: #fff;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 2px;
   
    
}
.navsection ul li a:hover{
    background: #FEF4E5;
    color: #333;
}


.contentsection{
    background: white none repeat scroll 0 0;
    text-align: center;
    margin-top: 20px;
    
   
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}


.column {
  float: right;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
